.typo {
    width: 300px;
    background-color: #EBECF0;
}

.editableTitleContainer {
    margin-left: 10px;
    display: flex;
    margin-right: 10px;
}

.editableTitle {
    margin-left: 10px;
    flex-grow: 1;
}