.App {

}

.menu-container {
  color: #fff;
  background-color: #5995DA;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.left-menu {
  width: 30px;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;
  margin-right: 27%;
}

.right-menu {
  width: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 27%;
}

.bar-container {
  color: #fff;
  background-color: orange;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.left-bar {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: column;
  margin-right: 200px;
}

.right-bar {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: column;
  margin-right: 50%;
  margin-left: 10px;
}
